In [1]:
# My Project
# Key-stage-4-performance---Academic-year-2022-23/2223_characteristics_summary_data_revised.csv

In [2]:

# import Python's library warning module
import warnings
warnings.filterwarnings("ignore")

# Import necessary libraries
import numpy as np
import pandas as pd
import io
import requests

# Load the CSV file from GitHub
df_url = 'https://raw.githubusercontent.com/KaluLIS/Key-stage-4-performance---Academic-year-2022-23/refs/heads/main/2223_characteristics_summary_data_revised.csv?token=GHSAT0AAAAAACZVDMQUAKCJRFCSFZJ4VFIKZZBHI3A'
url_content = requests.get(df_url, verify = False).content
nc = pd.read_csv(io.StringIO(url_content.decode('utf-8')))

In [3]:
#Data Variables

In [4]:
nc.describe()

,time_period,t_schools,t_pupils,t_att8,avg_att8,t_entbasics,pt_entbasics,t_l2basics_95,pt_l2basics_95,t_l2basics_94,pt_l2basics_94,t_ebacc_e_ptq_ee,pt_ebacc_e_ptq_ee,t_ebacc_95,pt_ebacc_95,t_ebacc_94,pt_ebacc_94,t_ebaccaps,avg_ebaccaps
count,264.000000,264.000000,264.000000,2.640000e+02,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,2.640000e+02,264.000000
mean,202020.234848,2395.393939,97996.125000,4.758795e+06,42.393561,94799.541667,89.929545,47095.056818,39.181439,67029.393939,56.529924,38498.314394,34.342803,19043.780303,16.506061,26495.011364,22.763258,4.161707e+05,3.702311
std,142.833513,1182.877160,167382.721258,8.398242e+06,13.332299,163488.487037,18.069369,85379.583506,18.949739,120075.335385,21.510757,67997.381038,16.139337,34837.784779,11.091892,48051.358759,13.527369,7.355029e+05,1.265832
min,201819.000000,94.000000,126.000000,9.207500e+02,1.700000,35.000000,5.900000,1.000000,0.200000,6.000000,1.000000,1.000000,0.200000,0.000000,0.000000,0.000000,0.000000,6.849000e+01,0.130000
25%,201920.000000,1451.750000,4006.250000,1.610239e+05,35.375000,3685.500000,91.525000,1215.500000,24.275000,2013.250000,42.400000,1181.250000,20.225000,331.750000,7.100000,518.000000,11.025000,1.364175e+04,2.965000
50%,202021.000000,2458.000000,12071.500000,5.315065e+05,46.300000,11222.500000,96.300000,4714.000000,43.050000,6966.000000,63.800000,4216.500000,36.800000,2049.500000,16.500000,2864.500000,24.100000,4.564347e+04,4.045000
75%,202122.000000,3406.500000,73189.500000,3.453905e+06,50.825000,69860.000000,97.325000,32689.000000,51.950000,47464.250000,71.700000,29977.000000,46.800000,10145.000000,23.525000,16368.000000,32.400000,3.038469e+05,4.540000
max,202223.000000,4047.000000,606915.000000,2.931931e+07,69.200000,583529.000000,99.400000,299114.000000,83.800000,415820.000000,93.000000,238323.000000,64.200000,124098.000000,51.600000,170004.000000,58.700000,2.561312e+06,6.440000

In [5]:
# info() method for more deets
print("\nDataFrame Info:")
nc.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   time_period            264 non-null    int64
 1   time_identifier        264 non-null    object
 2   geographic_level       264 non-null    object
 3   country_code           264 non-null    object
 4   country_name           264 non-null    object
 5   version                264 non-null    object
 6   establishment_type     264 non-null    object
 7   characteristics_group  264 non-null    object
 8   characteristic         264 non-null    object
 9   t_schools              264 non-null    int64
 10  t_pupils               264 non-null    int64
 11  t_att8                 264 non-null    float64
 12  avg_att8               264 non-null    float64
 13  t_entbasics            264 non-null    int64
 14  pt_entbasics           264 non-null    float64
 15  t_l2basics_95          264 non-null    int64
 16  pt_l2basics_95         264 non-null    float64
 17  t_l2basics_94          264 non-null    int64
 18  pt_l2basics_94         264 non-null    float64
 19  t_ebacc_e_ptq_ee       264 non-null    int64
 20  pt_ebacc_e_ptq_ee      264 non-null    float64
 21  t_ebacc_95             264 non-null    int64
 22  pt_ebacc_95            264 non-null    float64
 23  t_ebacc_94             264 non-null    int64
 24  pt_ebacc_94            264 non-null    float64
 25  t_ebaccaps             264 non-null    float64
 26  avg_ebaccaps           264 non-null    float64
 27  t_inp8calc             264 non-null    object
 28  t_p8score              264 non-null    object
 29  avg_p8score            264 non-null    object
 30  p8score_ci_low         264 non-null    object
 31  p8score_ci_upp         264 non-null    object
dtypes: float64(10), int64(9), object(13)
memory usage: 66.1+ KB

In [6]:
print("\nDataFrame Summary Statistics:")
print(nc.describe())

DataFrame Summary Statistics:
         time_period    t_schools       t_pupils        t_att8    avg_att8  \
count     264.000000   264.000000     264.000000  2.640000e+02  264.000000
mean   202020.234848  2395.393939   97996.125000  4.758795e+06   42.393561
std       142.833513  1182.877160  167382.721258  8.398242e+06   13.332299
min    201819.000000    94.000000     126.000000  9.207500e+02    1.700000
25%    201920.000000  1451.750000    4006.250000  1.610239e+05   35.375000
50%    202021.000000  2458.000000   12071.500000  5.315065e+05   46.300000
75%    202122.000000  3406.500000   73189.500000  3.453905e+06   50.825000
max    202223.000000  4047.000000  606915.000000  2.931931e+07   69.200000

         t_entbasics  pt_entbasics  t_l2basics_95  pt_l2basics_95  \
count     264.000000    264.000000     264.000000      264.000000
mean    94799.541667     89.929545   47095.056818       39.181439
std    163488.487037     18.069369   85379.583506       18.949739
min        35.000000      5.900000       1.000000        0.200000
25%      3685.500000     91.525000    1215.500000       24.275000
50%     11222.500000     96.300000    4714.000000       43.050000
75%     69860.000000     97.325000   32689.000000       51.950000
max    583529.000000     99.400000  299114.000000       83.800000

       t_l2basics_94  pt_l2basics_94  t_ebacc_e_ptq_ee  pt_ebacc_e_ptq_ee  \
count     264.000000      264.000000        264.000000         264.000000
mean    67029.393939       56.529924      38498.314394          34.342803
std    120075.335385       21.510757      67997.381038          16.139337
min         6.000000        1.000000          1.000000           0.200000
25%      2013.250000       42.400000       1181.250000          20.225000
50%      6966.000000       63.800000       4216.500000          36.800000
75%     47464.250000       71.700000      29977.000000          46.800000
max    415820.000000       93.000000     238323.000000          64.200000

          t_ebacc_95  pt_ebacc_95     t_ebacc_94  pt_ebacc_94    t_ebaccaps  \
count     264.000000   264.000000     264.000000   264.000000  2.640000e+02
mean    19043.780303    16.506061   26495.011364    22.763258  4.161707e+05
std     34837.784779    11.091892   48051.358759    13.527369  7.355029e+05
min         0.000000     0.000000       0.000000     0.000000  6.849000e+01
25%       331.750000     7.100000     518.000000    11.025000  1.364175e+04
50%      2049.500000    16.500000    2864.500000    24.100000  4.564347e+04
75%     10145.000000    23.525000   16368.000000    32.400000  3.038469e+05
max    124098.000000    51.600000  170004.000000    58.700000  2.561312e+06

       avg_ebaccaps
count    264.000000
mean       3.702311
std        1.265832
min        0.130000
25%        2.965000
50%        4.045000
75%        4.540000
max        6.440000

In [7]:
nc.iloc
nc.groupby('region_name' 'school_type' 'attainment_level').std()

KeyError: 'region_nameschool_typeattainment_level'

In [ ]:
print(nc.columns.tolist())

In [ ]:
nc.iloc
nc.groupby('t_pupils').std()

In [ ]:
# time_period: The specific time period (usually a school year) that the data covers.
# time_identifier: An identifier associated with the time period, often used for filtering or sorting (e.g., "2022-2023").
# geographic_level: Indicates the geographic granularity of the data, such as "national," "regional," or "school-level."
# country_code: A standardised code representing the country (e.g., "UK" for the United Kingdom).
# country_name: The full name of the country (e.g., "United Kingdom").
# version: The dataset version, which may indicate updates or revisions.
# establishment_type: Type of educational institution (e.g., "primary school," "secondary school").
# characteristics_group: A broader category grouping individual characteristics (e.g., "disadvantaged," "non-disadvantaged").
# characteristic: A specific demographic or educational characteristic, such as "male" or "female."
# t_schools: Total number of schools within the specified grouping.
# t_pupils: Total number of pupils within the specified grouping.
# t_att8: Total Attainment 8 score across all pupils in the grouping.
# avg_att8: Average Attainment 8 score per pupil in the grouping.
# t_entbasics: Total number of pupils who entered basic education requirements.
# pt_entbasics: Percentage of pupils who entered basic education requirements.
# t_l2basics_95: Total pupils who achieved Level 2 basics at a grade 9-5.
# pt_l2basics_95: Percentage of pupils who achieved Level 2 basics at a grade 9-5.
# t_l2basics_94: Total pupils who achieved Level 2 basics at a grade 9-4.
# pt_l2basics_94: Percentage of pupils who achieved Level 2 basics at a grade 9-4.
# t_ebacc_e_ptq_ee: Total pupils who entered the English Baccalaureate (EBacc) with a qualifying English entry.
# pt_ebacc_e_ptq_ee: Percentage of pupils who entered the English Baccalaureate with a qualifying English entry.
# t_ebacc_95: Total number of pupils who achieved EBacc at a grade 9-5.
# pt_ebacc_95: Percentage of pupils who achieved EBacc at a grade 9-5.
# t_ebacc_94: Total number of pupils who achieved EBacc at a grade 9-4.
# pt_ebacc_94: Percentage of pupils who achieved EBacc at a grade 9-4.
# t_ebaccaps: Total EBacc APS (average point score) for the group.
# avg_ebaccaps: Average EBacc APS (average point score) per pupil.
# t_inp8calc: Total number of pupils included in the Progress 8 calculation.
# t_p8score: Total Progress 8 score for all pupils in the grouping.
# avg_p8score: Average Progress 8 score per pupil.
# p8score_ci_low: Lower bound of the Progress 8 score confidence interval.
# p8score_ci_upp: Upper bound of the Progress 8 score confidence interval.